
body, h1, h2, p, label, input, button {
    margin: 20;
    padding: 10;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif; 
    background-color: seashell;
    padding: 40px; 
}

label {
    display: block; 
    margin-top: 10px;
    margin-bottom: 10px; 
}

input {
    width: 30%; 
    padding: 10px; 
    margin-bottom: 15px; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1b6c98;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#movie-details {
    margin-top: 15px;
}

#movie-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#poster {
    max-width: 40%; 
    height: auto; 
    margin-top: 10px; 
    flex: left;
}
